.influencer-header{
    display: none;
}
.collection-details{
    grid-template-columns: repeat(1, 320px);
    
}
.collection-about{
    flex-direction: column;
}
.cta{
    flex-direction: column-reverse;
    width: 100%;  
}
.text-content{
    width: 100%;
}
.text-content h1{
    font-size: 25px;
}
}