/* influencer style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@500&family=Work+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: whitesmoke);
}
.influencer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 110px;
}
.influencer-header h1{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-content{
    width: 48%;
}
.text-content{
    margin-left: 110px;
}
.text-content h2{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 900;
    line-height: 60px;
}
.text-content p{
    margin-top: 15px;
}
.photo-details{
    width: 45%;
}
.photo-details img{
    width: 80%;
    transition: 1s;
}
.photo-details img:hover{
    transform: scale(1.1);
}
.btn{
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    background-color: rgb(231, 10, 95);
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;

}
.btn i{
    margin: 0 10px;
}

/* logos start  */
.logo {
    width: 80%;
    margin: 30px 0 30px 110px;
    border-top: 1px solid #e2d7d7;
    border-bottom: 1px solid #e2d7d7;
}

.logo img {
    width: 110px;
    padding: 10px 20px;
}
/* logos end  */
/* collection start */
 * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .title {
            font-size: 35px;
            text-transform: capitalize;
            margin-top: 30px;
            margin-bottom: 50px;
            text-align: center;
        }

        .collection-details {
            display: grid;
            grid-template-columns: repeat(3, 320px);
            grid-template-rows: repeat(3, 430px);
            grid-gap: 30px;
            margin: 0 10% 5%;
        }

        .collection-about {
            border-radius: 7px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
        }

        .photo img {
            width: 90%;
            background-size: cover;
            align-items: center;
            margin: 10px 15px;
            object-fit: cover;
        }

        .collection-about h2 {
            font-size: 25px;
            margin-left: 15px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        .collection-about h3 {
            margin-left: 15px;
        }

        .collection-about p {
            font-size: 16px;
            text-transform: capitalize;
            margin-top: 5px;
            margin: 5px 0 0 15px;
        }

        .icons {
            font-size: 16px;
            color: tomato;
            margin-left: 15px;
            margin-top: 8px;
        }

        .icons>span {
            color: #333;
        }

        .button {
            text-align: right;
            margin-right: 14%;
        }

        .button a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 20px;
            color: tomato;
        }
        /* collection end  */


/* call to action start */
.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 5%;
}
.photo img{
    width: 90%;
}
.text-content h1{
    font-size: 30px;
    font-weight: 700;
}
.cta-btn{
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    background-color: rgb(231, 10, 95);
    color: #fff;
    padding: 7px 16px;
    display: inline-block;
    cursor: pointer;
}
/* footer start  */
.footer{
    background-color: rgba(20, 20, 97, 0.719);
    color: #fff;
    text-align: center;
    padding: 60px 0;
}
.footer h3{
    font-size: 25px;
    text-transform: capitalize;
}
.footer p{
    font-size: 15px;
}
.footer h4{
    font-size: 12px;
    font-weight: 250;
    margin-top: 7px;
}
.icon{
    margin-top: 8px;
}
.icon a{
    text-decoration: none;
    font-size: 25px;
    padding: 0 12px;
    color: #fff;
    border-radius: 50%;
}
/* ----media queiry ---- */

/* mobile device  */
@media only screen and (max-width:688px){
    .influencer-header{
        display: none;
    }
    .content{
        flex-direction: column-reverse;
        
    }
    .text-content h2{
        font-size: 30px;
        text-align: center;
        line-height: 40px;
    }
    .btn{
        margin:20px 0 20px 90px;
    }
    .photo-details{
        width: 100%;
        margin: 25px 0 30px 60px;
    }
    .logo {
        width: 100%;
        margin: 0;
        text-align: center;
        border: none;
    }
    
    .logo img {
        width: 55px;
        padding: 10px;
    }
    .collection-details{
        grid-template-columns: repeat(1, 320px);
    }
    .collection-about{
        width: 100%;
        align-self: center;
    }
    .cta{
        flex-direction: column-reverse;
    }
    .text-content{
        width: 100%;
        margin: 20px  auto;
    }
    .text-content p{
        font-size: 18px;
        text-align: center;
    }
    .text-content h1{
        text-align: center;
    }
  .cta-btn{
      width: 100px;
      display: block;
      margin: 15px auto;
      padding: 10px 15px;
  }
  .footer{
      width: 100%;
      
  }
  .footer p{
      margin: 10px 0;
  }
  .footer h4{
      font-size: 15px;
      margin-bottom: 15px;
  }
}
  /* media quries for tablet  */
  @media only screen and (min-width: 770px) and (max-width:990px){
    .influencer-header{
        display: none;
    }
    .content{
        flex-direction: column-reverse;
        
    }
    .text-content h2{
        font-size: 30px;
        text-align: center;
        line-height: 40px;
    }
    .btn{
        margin:20px 0 20px 230px;
    }
    .photo-details{
        width: 85%;
        margin: 25px 0 0 90px ;
        
    }
    .logo {
        width: 100%;
        margin: 0;
        text-align: center;
        border: none;
    }
    
    .logo img {
        width: 75px;
        padding: 10px;
    }
    .collection-details{
        grid-template-columns: repeat(2, 320px);
    }
    .collection-about{
        width: 100%;
        margin-left: -30px;
        align-self: center;
    }
    .cta{
        flex-direction: column-reverse;
    }
    .text-content{
        width: 90%;
        margin: 30px  auto;
    }
    .text-content p{
        font-size: 20px;
        text-align: center;
    }
    .text-content h1{
        text-align: center;
    }
  .cta-btn{
      width: 100px;
      display: block;
      margin: 15px auto;
      padding: 15px 25px;
  }
  .photo{
      width: 90%;
  }
  .footer{
      width: 100%;
  }
  .footer p{
      margin: 10px 0;
  }
  .footer h4{
      font-size: 15px;
      margin-bottom: 15px;
  }
  }